@import url('https://fonts.googleapis.com/css2?family=Allison&family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin:0;
    --lato: 'Lato', sans-serif;
    --margin_sides: 7vw;
}

.hero_section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(img/background/background_contact3.jpg);
}

.navbar {
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.289);
    
}

.logo_div {
    margin-left: var(--margin_sides);
}

.logo {
    font-family: 'Allison', cursive;
    font-size: 45px;
    color: white;
    display: inherit;
    padding: 2px 10px 0;
    letter-spacing: 2.2%;
}

.sub_logo {
    display: flex;
    margin-top: -3px;
    padding: 0 10px 12px;
    font-family: var(--lato);
    font-weight:300;
    color: white;
    font-size: 14px;
    letter-spacing: 6px;
    justify-content: center;


}

.menu {
    display: inherit;
    list-style: none;
    font-family: var(--lato);
    font-weight:300;
    font-size: 20px;
    color: white;
    margin-right: var(--margin_sides);
}

.menu_link:hover {
    transition: 200ms;
    transform: scale(115%);
}

.toggle_menu {
    display: none;
}

li {
    display: inherit;
    padding: 0 18px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero_text_box {
    display: flex;
    flex-direction: column;
    font-family: var(--lato);
    color: white;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(img/banner/transparent_background.png);
}

.hero_hi {
    font-family: var(--lato);
    font-size: 54px;
    padding-bottom: 2px;
}

.hero_name {
    font-family: 'Allison', cursive;
    font-size: 8rem;
    padding-bottom: 5px;

}

.hero_profession {
    font-family: var(--lato);
    font-size: 36px;
    font-weight: 300;
    margin-top: -1rem;
    letter-spacing: .3rem;
}

.hero_icon {
    margin-top: 1.2rem;
    padding: 15px 12px 0;
    cursor: pointer;
}

.hero_icon:hover {
    transform: scale(105%);
}

/* Latest Work Section */

.latest_work_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.88) 0%, #333333 38.02%, #1F1F1F 73.44%);
    font-family: var(--lato);
    color: white;

}

.tittle_latest_work {
    margin-top: 120px;
    font-size: 35px;
    font-weight: 100;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest_tittle {
    font-size: 60px;
    font-weight: 100;
}

.latest_subtittle {
    font-size: 25px;
    font-weight: 300;
}

.box_card {
    background: linear-gradient(180deg, rgba(65, 65, 65, 0.54) 0%, rgba(73, 73, 73, 0.402131) 47.92%, rgba(31, 31, 31, 0.54) 100%);
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.57);
    margin: 5vh 14vh 14vh;
}

.box_tittle {
font-family: 'Lato';
font-weight: 300;
font-size: 40px;
line-height: 57px;
text-align: center;
padding: 30px;
}

.box_list_icons {
    width: 100%;
    padding: 0 0 4vh;
    display: inline-block;
    text-align: center;
}

.box_icons {
    width: 70px;
    height: 70px;
}

.bx2 {
    width: 85px;
    height: 85px;
}

p {
    font-size: 20px;
    font-weight: 300;
    padding-top: 12px;
}

.box_card_text {
    font-size: 20px;
    font-weight: 100;
    padding: 0 5vw;
    text-align: justify;
    margin-bottom:3vh;
    }


.box_card_pictures {
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px;

}

.card {
    transition: all 500ms ease-out;
}


.card:hover {
    transform: scale(105%);
    cursor: pointer;

}


.card_tittle {
    font-size: 2rem;
}

.capa {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.banner_to_gallery {
    background-image: url(/img/banner/banner_to_gallery.jpg);
    background-size: cover;
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_tittle {
font-family: var(--lato);
font-weight: 100;
font-size: 3rem;
padding-bottom: 7px;

}

.banner_paragraph {
    padding-bottom: 27px;
}

.banner_btn {
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 10rem;
    height: 2.2rem;
}

.banner_btn:hover {
    transform: scale(110%);
    cursor: pointer;
    background: black;
    color: rgba(255, 255, 255, 0.95);
}

/* Section About Me */

.about_me {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(176, 176, 176, 0.95);
    background-color: black;

}

.about_me_box {
    display: flex;
    width: 80%;
}

.about_me_profile_picture {
    display: flex;
    width: 25vw;
    object-fit: contain;
}

.h2_aboutme {
    display:inline-flex;
    font-family: var(--lato);
    font-size: 3.2rem;
    color: rgba(255, 255, 255, 0.95);
    font-weight: 300;
    letter-spacing: 5px;
    padding: 0.6rem 0rem 0.6rem 0.6rem;
}

.about_me_text {
    display: flex;
    line-height: 150%;
    letter-spacing: 5px;
    font-family: var(--lato);
    font-size: 1rem;
    padding: 0.6rem 0rem 0.6rem 0.6rem;
    margin: 0;
}

.about_me_textbox {
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    justify-content: center;
}

.aboutme_btn {
    display: flex;
    padding: 3.5rem 0rem 0.6rem 0rem;
}

.instagram_btn {
    background-color: white;
    border-style: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--lato);
    margin-right: 1rem;
}

.gallery_btn {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--lato);   
}

.gallery_btn:hover, .instagram_btn:hover {
    transform: scale(103%);
}

.gallery_btn:active {
    background: white;
    color: black;
}

.instagram_btn:active {
    background: black;
    color: white;
    border: 0.5px solid white
}

/* Contact Section */

.contact_section {
    background-image: url(/img/background/background_contact3.jpg);
    background-size: cover;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form {
    background: rgba(0, 0, 0, 0.76);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    width: 35%;
    max-width: 400px;
    border-radius: 10px;
    padding: 25px 10px;
    margin: auto;
}

.form_container {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 100%;
    padding: 1rem 1.7rem;
}

.form_tittle {
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    font-family: var(--lato);
    padding: .5rem 0 2rem;
}

.form_input {
    font-family: var(--lato);
    height: 2rem;
    font-size: 1.25rem;
    margin: .2rem;
    border: none;
    background: #C3C3C3;
    border: 1px solid #bbb0b0;
    border-radius: 3px;
}

.form_input--message {
    resize: none;
    padding: .5rem;
    margin-bottom: .5em;
    height: 8em;
}

.form_cta {
    font-family: var(--lato);
    letter-spacing: 2px;
    font-size: 1.1rem;
    background-color: #2D8484;
    width: 50%;
    border-radius: 7px;
    justify-self: center;
    color: #FFFFFF;
    border: none;
    padding: .7em 0;
    cursor:pointer;
}

.form_cta:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

/* Footer Section */

.footer{
display: flex;
background-color: rgba(0, 0, 0, 0.55);
color: rgba(206, 206, 206, 0.87);
flex-direction: column;
font-size: 0.9rem;
letter-spacing: 2px;
font-family: var(--lato);
font-weight: 300;
padding: 10px 0;
align-items: center;
text-align: center;

}


@media (max-width: 1061px) {
    .box_card_pictures {
        column-gap: 1rem;
    }    
}

@media (max-width: 1024px) {
    .menu {
        display: flex;
        position: absolute;
        top:0;
        right: 0;
        margin: 0;
        height: 50vh;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #333333;
        font-size: 2rem;
        transition: 500ms;
        padding: 50px;
        transform:translateY(-100%);
        width: 100vw;
        opacity: 0.92;
    }

    .menu--show {
        transform:translateY(0);
        width: 100vw;
    }    

    .toggle_menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 5vw;
        z-index: 100;
    }    

    .logo_div {
        margin-left: 5vw;
    }

    .form {
         background: rgba(0, 0, 0, 0.76);
         box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
         width: 55%;
         max-width: 400px;
         border-radius: 10px;
         padding: 25px 10px;
         margin: auto;
        }

    .form_tittle {
        font-size: 1.8rem;
    }
    
    .about_me_textbox {
        padding: 0;
    }

    .about_me_profile_picture {
        display: none;
    }
}

@media (max-width: 850px) {
    .box_card {
        margin: 3vh 5vw;
    }

    .box_card_text {
        padding: 0 5vw;
        text-align: justify;
    }

.aboutme_btn {
    display: flex;
    justify-content: center;
}

.instagram_btn {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin-right: 3rem;
}

.form_tittle {
        font-size: 1.7rem;
}
}

@media (max-width: 650px) {
    .hero_name {
        font-size: 22vw; 
    }

    .hero_profession {
        font-size: 5vw;
        padding: 2vh 0;
    }
    .box_icon_3seasons {
        padding-top: 25px;
    }

    .about_me_text {
        font-size: ;
    }

    .instagram_btn {
        margin-right: 1rem;
    }

    .form {
        width: 80%;
    }
}